DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DATABASE_URL="file:./dev.db"
TRANSCRIPT_CHANNEL_ID=
CATEGORY_TICKETS_ID=
ROLE_LEADERSHIP_ID=
ROLE_FINANCE_ID=
ROLE_OPERATIONS_ID=
WEB_PORT=3010
BOT_NAME=Ghost Syndicate
